Package: ubuntu-keyboard-data
Source: ubuntu-keyboard
Version: 0.100+15.04+ubportslocal~1543084190
Built-For-Profiles: cross nocheck
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 384
Depends: fonts-droid-fallback | fonts-droid | fonts-noto-cjk, qml-module-ubuntu-components, dconf-gsettings-backend | gsettings-backend
Section: libs
Priority: optional
Homepage: https://launchpad.net/ubuntu-keyboard
Description: Ubuntu on-screen keyboard data files
 Data files for the Ubuntu virtual keyboard
Original-Maintainer: Michael Hasselmann <michaelh@openismus.com>
