Package: ubuntu-keyboard-latvian
Source: ubuntu-keyboard
Version: 0.100+15.04+ubportslocal~1543252853
Built-For-Profiles: cross nocheck
Architecture: armhf
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2717
Depends: ubuntu-keyboard (= 0.100+15.04+ubportslocal~1543252853), myspell-lv, libc6 (>= 2.4), libgcc1 (>= 1:3.5), libhunspell-1.3-0 (>= 1.3.3), libpresage1v5 (>= 0.8.3), libqt5core5a (>= 5.7.0), libstdc++6 (>= 5.2)
Section: libs
Priority: optional
Homepage: https://launchpad.net/ubuntu-keyboard
Description: Ubuntu on-screen keyboard data files - Latvian
 Data files for the Ubuntu virtual keyboard - Latvian
Original-Maintainer: Michael Hasselmann <michaelh@openismus.com>
